.theSidebar {
	padding: 1rem;
}

.noteList {
	list-style: none;
	padding: 0;
}

.noteList li  {
	background: rgb(250, 250, 250);
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: .5rem;
	text-decoration: none;
}

.noteList li:hover {
	color: #fff;
	background: #000078;
}

.noteList li:hover a {
	color: #fff;
}

.title {
	color: 	#000078;
}

.titleInput {
	padding: .5rem;
}

.button {
	padding: .5rem;
	font-weight: bold;
	border: none;
	cursor: pointer;
}

.addButton {
	background:	#000078;
	color: #fff;
}

.deleteButton {
	background: #fff ;
	border: 1px solid #f00;
	color: #f00;
}

.saveButton {
	background: #DC3545;
	color: #fff;
}
