.theSidebar {
	padding: 1rem;
}

.noteList {
	list-style: none;
	padding: 0;
}

.noteList li {
	border: 1px solid #000;
	padding: .5rem;
	margin-bottom: .5rem;
}

.title {
	color: 	#000078;
}

.titleInput {
	padding: .5rem;
}

.addButton {
	padding: .5rem;
	background:	#000078;
	color: #fff;
	font-weight: bold;
	border: none;
	cursor: pointer;
}